<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @coin_attribute_type.value %>
</p>


<%= link_to 'Edit', edit_coin_attribute_type_path(@coin_attribute_type) %> |
<%= link_to 'Back', coin_attribute_types_path %>
