@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$white: #fff;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  background-color: #fff; 
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

body.regular-body {
  background-color: #AE070F;
  position: relative;
/*  padding-top: 60px; */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

div.container {
  background-color: $white;
  clear: both;
  padding: 1em 2em;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 15px;
  text-align: left;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

table {
  border: 1px solid #000;
  padding: 3px;
}

tr, th, td {
  border: 1px solid #000;
  padding: 3px;
}

table.table {
  border-collapse:collapse;
  border: 1px solid #e5eff8;
  font-size: .9em;
  margin:0 .3em 1em;
  width: 100%;
  
  caption {
    caption-side:top;
    color: #9ba9b4;
    font-size:.94em;
    letter-spacing:.1em;
    margin:1em 0 0 0;
    padding:0;
    text-align:center;
  }

  tr {
    border:1px solid #e5eff8;
  }
    
  td {
    border:1px solid #e5eff8;
    color:#678197;
    padding:.3em .5em;
    text-align:center;
    
    a {
      color: blue;
    }
    
    span {
      &.add, &.add a {
        color: green;
        font-weight: bold;  
      }

      &.edit, &.edit a {
        color: blue;
        font-weight: bold;  
      }

      &.delete, &.delete a {
        color: red;
        font-weight: bold;  
      }

      &.back, &.back a {
        color: orange;
        font-weight: bold;  
      }  
    }
  }
  
  th {
    border: 1px solid #e5eff8;
    color: #678197;
    font-weight:normal;
    padding:.3em 1em;
    text-align:left;
  }
  
  thead {
    border: 1px solid #e5eff8;
    
    th {
      background:#f4f9fe;
      border: 1px solid #e5eff8;
      color:#66a3d3;
      font:bold 1.1em;
      text-align:center;  
    }
  }
  
  tfoot {
    th {
      background:#f4f9fe;
      text-align:center;

      strong {
        color:#66a3d3;
        font-size: 1.2em;
        font-weight: bold;
        margin:.5em .5em .5em 0;
      }
      
      em {
        color:#f03b58;
        font-size: 1.1em;
        font-style: normal;
        font-weight: bold;
      }
    }
  }
  
  tr.odd {
    td {
      background:#f7fbff;	    
    }
    
    .column1 {
      background:#f4f9fe;
    }
  }
  
  .column1 {
    background:#f9fcfe;
  }
}


/* header */

header {
  background-color: #252525;
  border-bottom: 1px inset $grayMediumLight; 

  div.container {
    background-color: #252525;
    clear: none;
    margin-top: 0;
    padding: 1em 0 1em;
  }

  nav {
    float: right;
    margin-top: .5em;
    
    ul {
      color: $white;
      font-size: 1.15em;
      font-weight: bold;
      margin-right: 1em;
      
      li {
        color: $white;
        display:inline;
        
        a, a:visited {
          color: $white;
        }
        
        &:after {
          content: " | ";
        }
        
        &:last-child:after {
          content: "";
        }        
      }
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  background-color: #252525;
  padding: 1em;
  border-top: 1px inset $grayMediumLight; 
  color: $white;

  div.container {
    background: transparent;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }

  small {
    float: left;
  }

  nav {
    float: right;
    margin-top: 0;
    
    ul {
      color: $white;
      font-size: .9em;
      font-weight: bold;
      margin-bottom: 0;
      margin-right: 1em;
      
      li {
        color: $white;
        display:inline;
        
        a, a:visited {
          color: $white;
        }
        
        &:after {
          content: " | ";
        }
        
        &:last-child:after {
          content: "";
        }        
      }
    }
  }
}

/* miscellaneous */

#main-container {
  min-height: 500px;
}


dl {
  float: left;
  width: 100%;
  margin: 1em 0;
  padding: 0;
  border-bottom: 1px solid #CCC;

  dt.first, dl dd.first {
    border-top: 0;
  }
  
  section {
    color: #666;
    font-size: .8em;
    margin-top: 1em;
    padding-left: 1em;
  }
  
  &.normal-dl {
    float: none;
    
    dt {
      padding-top: 2em;
    }
    
    &.first {
      dt, dd {
        border-top: 1px solid transparent;
      }
    }
  }
}


dt {
  clear: left;
  float: left;
  width: 300px;
  padding: 10px 5px;
  border-top: 1px solid #CCC;
  font-size: 1.2em;
  font-weight: bold;  

  .actions {
    float: none;
    font-size: .7em;
  }
}

dd {
  float: left;
  width: 600px;
  margin: 0;
  padding: 10px 5px;
  border-top: 1px solid #CCC;
}	

div {
  &.field, &.actions {
    margin-bottom: 10px;
  } 
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.container {
  dd {
    width: 590px;
  }

  dl {
    border-bottom: 0;
  }

  dl dt.first, dl dd.first {
    border-top: 0;
  }
}

.actions {
  float: right;
  font-size: .8em;
  padding-left: 1em;
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.description {
  font-weight: bold;
}

span {
  &.add, &.add a {
    color: green;
    font-weight: bold;  
  }

  &.edit, &.edit a {
    color: blue;
    font-weight: bold;  
  }

  &.delete, &.delete a {
    color: red;
    font-weight: bold;  
  }

  &.back, &.back a {
    color: orange;
    font-weight: bold;  
  }  
}

.hide {
  display: none;
}

.visualClear { 
  clear: both;
}

dt .actions {
  display: block;
  float: none;
  margin-top: 1.5em;
}


.field {
  label {
    display: inline;
    font-weight: bold;
  }
}

.align-right {
  color: #000;
  float: right;
  padding-left: 1em;
  padding-right: 1em;
  
  label {
    display: none;
  }
  
  img {
    padding-left: 1em;
  }
}

.read-more {
  &, a {
    color: blue;
  }
}

.read-less {
  &, a {
    color: red;
  }
}

.data-info {
  font-weight: bold;
  margin-bottom: 1.5em;
}