@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  background-color: #AE070F;
  position: relative;
/*  padding-top: 60px; */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

div.container {
  background-color: #fff;
  clear: both;
  padding: 1em;
}

header {
  background-color: #252525;

  div.container {
    background-color: #252525;
    clear: none;
    margin-top: 0;
    padding: 1em 0 1em;
  }

  nav {
    float: right;
    margin-top: .5em;
    
    ul {
      color: #fff;
      font-size: 1.15em;
      font-weight: bold;
      margin-right: 1em;
      
      li {
        color: #fff;
        display:inline;
        
        a, a:visited {
          color: #fff;
        }
        
        &:after {
          content: " | ";
        }
        
        &:last-child:after {
          content: "";
        }        
      }
    }
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

table {
  border: 1px solid #000;
  padding: 3px;
}

tr {
  border: 1px solid #000;
  padding: 3px;
}

th, td {
  border: 1px solid #000;
  padding: 3px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;

  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
 
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */



dl {
  float: left;
  width: 100%;
  margin: 1em 0;
  padding: 0;
  border-bottom: 1px solid #CCC;

  dt.first, dl dd.first {
    border-top: 0;
  }
}

dl.normal-dl {
  float: none;

  dt {
    padding-top: 2em;
  }
}

dl.normal-dl.first {
  dt, dd {
    border-top: 1px solid transparent;
  }
}

dt {
  clear: left;
  float: left;
  width: 300px;
  padding: 10px 5px;
  border-top: 1px solid #CCC;
  font-size: 1.2em;
  font-weight: bold;  

  .actions {
    font-size: .7em;
  }
}

dd {
  float: left;
  width: 600px;
  margin: 0;
  padding: 10px 5px;
  border-top: 1px solid #CCC;
}	


.container {
  dd {
    width: 590px;
  }

  dl {
    border-bottom: 0;
  }

  dl dt.first, dl dd.first {
    border-top: 0;
  }
}

.actions {
  font-size: .8em;
  padding-left: 1em;
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

h1 {
  text-align: left;
}

.description {
  font-weight: bold;
}

span.add, span.add a {
  color: green;
  font-weight: bold;
}

span.edit, span.edit a {
  color: blue;
  font-weight: bold;
}

span.delete, span.delete a {
  color: red;
  font-weight: bold;
}

.hide {
  display: none;
}

.visualClear { 
  clear: both;
}