%footer.footer
  .container
    %small
      Matt Howell is still working on this…forever…
    %nav
      %ul
        %li= link_to "About",   about_path
        %li= link_to "Help",    help_path
        %li= link_to "Admin",    help_path
  .visualClear